* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 100vb;
}

body {
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: white;
}

h1 {
    font-size: 2.5rem;

}
p {
    font-size: 1.3em;
}
 input, button{
    font-size: 1.2rem;
}