* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100dvh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin-top: -80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 33, 0.882);
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 2.6rem;
}
p {
  font-size: 1.2em;
}
input,
button {
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  accent-color: #000;
  padding: 3px 8px;
}

input {
  border: 1px black solid;
  border-radius: 5px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
input:focus {
  font-weight: 500;
}

button {
  border: 1px black solid;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(26, 26, 28);
}
