body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #41780eae;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  gap: 30px;
  width: auto;
  height: 100vh;
}
input,
button {
  font-family: 'Gill Sans MT', sans-serif;
  border-radius: 10px;
  accent-color: #1e1e1e;
  font-size: 2rem;
  padding-left: 10px;
}

button {
    background-color: #ddd;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px;
}

input:focus {
  padding-left: 10px;
}

input:hover {
  background-color: #e5e5e5;
}
button:hover {
  background-color: #c7c4c4;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li.completed {
  text-decoration: line-through;
  color: #292828;
}
